<div *ngIf="artist" class="artist-box">

    <div id="artist-head-card">

        <div class="image">
            <img src="{{ urlImage + artist.image  }}" alt="artist.name" *ngIf="artist.image && artist.image != 'null'">
        </div>

        <div class="data">
            <h1>{{artist.name}}</h1>
            <p class="description">{{artist.description}}</p>

            <a [routerLink]="['/album-add', artist._id]" *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default">
                Add album
            </a>
        </div>

    </div>

    <div class="clearfix"></div>

    <div id="gallery-albums" *ngIf="albums">
        <!--Listar los albumes-->
        <ul class="album_list">
            <li *ngFor="let album of albums" class="col-lg-4 album_item">
                <div class="album-image">
                    <a [routerLink]="['/album/', album._id]">
                        <img src="{{urlAlbumImage + album.image}}" alt="album image">
                    </a>
                </div>
                <div class="album-name">
                    <p>
                        <a [routerLink]="['/album/', album._id]">
                            {{album.title}}
                        </a>
                    </p>

                    <div class="buttons" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                        <a [routerLink]="['/album-edit/', album._id]" class="btn btn-sm btn-warning">Edit</a>
                        <a (click)="onConfirmDelete(album._id)" class="btn btn-sm btn-danger">Remove</a>
                    </div>

                    <div class="secure_delete secure_delete_album" *ngIf="identity && identity.role == 'ROLE_ADMIN' && confirm_delete == album._id">
                        <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-warning">Delete</a>
                        <a (click)="onCancel()" class="btn btn-sm btn-primary">Cancel</a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>