html, body {
    margin: 0px;
    height: 100%;
    background: #eee;
}

.head_title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation {
    text-align: center;
    color: white;
    background: #1C1C1F;
    height: 100%;
}

.navigation a {
    text-decoration: none;
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.navigation a:hover {
    color:#FFF;
}

.navigation .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged {
    position: absolute;
    background: #1C1C1F;
    bottom: 0px;
    border-top: 1px solid #fff;
    width: 75%;
    text-decoration: center;
}

#user_logged .btn_logout {
    cursor: pointer;
}

#user_logged .user-image {
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}

#user_logged .user-image img {
    width: 57px;
}
